/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
/* Utilities */
body{
  background-color: black;
  text-align: center;
  padding-top: 65px;
}

h1, h2, h3{
  font-family: Open Sans;
  color: white;
}

p{
  font-family: Raleway;
  color: white;
}

nav{
  font-family: Raleway;
}
footer{
  border-top: 2px solid white;
}
footer, a{
  font-family: Raleway;
  color: white;
}

.navbar{
  border-bottom: 2px solid white;
  background-color: black;
}

.card, a:hover{
  background-color: #2F80A9;
  text-decoration: none;
}

.card {
  height: 350px;
  border-radius: 3px;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(255,255,255);
  position: relative;
  background-color: black;
}


#logo{
  margin: 20px 20px;
}

#middle-image-video{
  border: none;
}
